Clifford/xml-resources/web-service-references/WebServiceVenta/wsdl/localhost_22396/CliffordServices/WebServiceVenta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CapaServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CapaServicio/" name="WebServiceVenta">
<types>
<xsd:schema>
<xsd:import namespace="http://CapaServicio/" schemaLocation="http://localhost:22396/CliffordServices/WebServiceVenta?xsd=1"/>
</xsd:schema>
</types>
<message name="webExisteVenta">
<part name="parameters" element="tns:webExisteVenta"/>
</message>
<message name="webExisteVentaResponse">
<part name="parameters" element="tns:webExisteVentaResponse"/>
</message>
<message name="webInsertarVenta">
<part name="parameters" element="tns:webInsertarVenta"/>
</message>
<message name="webInsertarVentaResponse">
<part name="parameters" element="tns:webInsertarVentaResponse"/>
</message>
<message name="webConsultaVenta">
<part name="parameters" element="tns:webConsultaVenta"/>
</message>
<message name="webConsultaVentaResponse">
<part name="parameters" element="tns:webConsultaVentaResponse"/>
</message>
<message name="webEliminarVenta">
<part name="parameters" element="tns:webEliminarVenta"/>
</message>
<message name="webEliminarVentaResponse">
<part name="parameters" element="tns:webEliminarVentaResponse"/>
</message>
<message name="webConsultarVentaEspecifica">
<part name="parameters" element="tns:webConsultarVentaEspecifica"/>
</message>
<message name="webConsultarVentaEspecificaResponse">
<part name="parameters" element="tns:webConsultarVentaEspecificaResponse"/>
</message>
<message name="webActualizarVenta">
<part name="parameters" element="tns:webActualizarVenta"/>
</message>
<message name="webActualizarVentaResponse">
<part name="parameters" element="tns:webActualizarVentaResponse"/>
</message>
<message name="webBuscarIdDetalleVenta">
<part name="parameters" element="tns:webBuscarIdDetalleVenta"/>
</message>
<message name="webBuscarIdDetalleVentaResponse">
<part name="parameters" element="tns:webBuscarIdDetalleVentaResponse"/>
</message>
<message name="webConfigurarConexion">
<part name="parameters" element="tns:webConfigurarConexion"/>
</message>
<message name="webConfigurarConexionResponse">
<part name="parameters" element="tns:webConfigurarConexionResponse"/>
</message>
<portType name="WebServiceVenta">
<operation name="webExisteVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webExisteVentaRequest" message="tns:webExisteVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webExisteVentaResponse" message="tns:webExisteVentaResponse"/>
</operation>
<operation name="webInsertarVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webInsertarVentaRequest" message="tns:webInsertarVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webInsertarVentaResponse" message="tns:webInsertarVentaResponse"/>
</operation>
<operation name="webConsultaVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webConsultaVentaRequest" message="tns:webConsultaVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webConsultaVentaResponse" message="tns:webConsultaVentaResponse"/>
</operation>
<operation name="webEliminarVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webEliminarVentaRequest" message="tns:webEliminarVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webEliminarVentaResponse" message="tns:webEliminarVentaResponse"/>
</operation>
<operation name="webConsultarVentaEspecifica">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webConsultarVentaEspecificaRequest" message="tns:webConsultarVentaEspecifica"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webConsultarVentaEspecificaResponse" message="tns:webConsultarVentaEspecificaResponse"/>
</operation>
<operation name="webActualizarVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webActualizarVentaRequest" message="tns:webActualizarVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webActualizarVentaResponse" message="tns:webActualizarVentaResponse"/>
</operation>
<operation name="webBuscarIdDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webBuscarIdDetalleVentaRequest" message="tns:webBuscarIdDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webBuscarIdDetalleVentaResponse" message="tns:webBuscarIdDetalleVentaResponse"/>
</operation>
<operation name="webConfigurarConexion">
<input wsam:Action="http://CapaServicio/WebServiceVenta/webConfigurarConexionRequest" message="tns:webConfigurarConexion"/>
<output wsam:Action="http://CapaServicio/WebServiceVenta/webConfigurarConexionResponse" message="tns:webConfigurarConexionResponse"/>
</operation>
</portType>
<binding name="WebServiceVentaPortBinding" type="tns:WebServiceVenta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="webExisteVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webInsertarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConsultaVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webEliminarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConsultarVentaEspecifica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webActualizarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webBuscarIdDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConfigurarConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceVenta">
<port name="WebServiceVentaPort" binding="tns:WebServiceVentaPortBinding">
<soap:address location="http://localhost:22396/CliffordServices/WebServiceVenta"/>
</port>
</service>
</definitions>