Clifford/src/META-INF/wsdl/localhost_22396/CliffordServices/WebServiceDetalleVenta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CapaServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CapaServicio/" name="WebServiceDetalleVenta">
<types>
<xsd:schema>
<xsd:import namespace="http://CapaServicio/" schemaLocation="http://localhost:22396/CliffordServices/WebServiceDetalleVenta?xsd=1"/>
</xsd:schema>
</types>
<message name="webBuscarDetalleVenta">
<part name="parameters" element="tns:webBuscarDetalleVenta"/>
</message>
<message name="webBuscarDetalleVentaResponse">
<part name="parameters" element="tns:webBuscarDetalleVentaResponse"/>
</message>
<message name="webExisteDetalleVenta">
<part name="parameters" element="tns:webExisteDetalleVenta"/>
</message>
<message name="webExisteDetalleVentaResponse">
<part name="parameters" element="tns:webExisteDetalleVentaResponse"/>
</message>
<message name="webSumarFolio">
<part name="parameters" element="tns:webSumarFolio"/>
</message>
<message name="webSumarFolioResponse">
<part name="parameters" element="tns:webSumarFolioResponse"/>
</message>
<message name="webEncontrarFolioEspecifico">
<part name="parameters" element="tns:webEncontrarFolioEspecifico"/>
</message>
<message name="webEncontrarFolioEspecificoResponse">
<part name="parameters" element="tns:webEncontrarFolioEspecificoResponse"/>
</message>
<message name="webBuscarDetalleVentaPorFolio">
<part name="parameters" element="tns:webBuscarDetalleVentaPorFolio"/>
</message>
<message name="webBuscarDetalleVentaPorFolioResponse">
<part name="parameters" element="tns:webBuscarDetalleVentaPorFolioResponse"/>
</message>
<message name="webEncontrarFolio">
<part name="parameters" element="tns:webEncontrarFolio"/>
</message>
<message name="webEncontrarFolioResponse">
<part name="parameters" element="tns:webEncontrarFolioResponse"/>
</message>
<message name="webConfigurarConexion">
<part name="parameters" element="tns:webConfigurarConexion"/>
</message>
<message name="webConfigurarConexionResponse">
<part name="parameters" element="tns:webConfigurarConexionResponse"/>
</message>
<message name="webActualizarDetalleVenta">
<part name="parameters" element="tns:webActualizarDetalleVenta"/>
</message>
<message name="webActualizarDetalleVentaResponse">
<part name="parameters" element="tns:webActualizarDetalleVentaResponse"/>
</message>
<message name="webInsertarDetalleVenta">
<part name="parameters" element="tns:webInsertarDetalleVenta"/>
</message>
<message name="webInsertarDetalleVentaResponse">
<part name="parameters" element="tns:webInsertarDetalleVentaResponse"/>
</message>
<message name="webEliminarDetalleVenta">
<part name="parameters" element="tns:webEliminarDetalleVenta"/>
</message>
<message name="webEliminarDetalleVentaResponse">
<part name="parameters" element="tns:webEliminarDetalleVentaResponse"/>
</message>
<message name="webConsultaDetalleVenta">
<part name="parameters" element="tns:webConsultaDetalleVenta"/>
</message>
<message name="webConsultaDetalleVentaResponse">
<part name="parameters" element="tns:webConsultaDetalleVentaResponse"/>
</message>
<portType name="WebServiceDetalleVenta">
<operation name="webBuscarDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webBuscarDetalleVentaRequest" message="tns:webBuscarDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webBuscarDetalleVentaResponse" message="tns:webBuscarDetalleVentaResponse"/>
</operation>
<operation name="webExisteDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webExisteDetalleVentaRequest" message="tns:webExisteDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webExisteDetalleVentaResponse" message="tns:webExisteDetalleVentaResponse"/>
</operation>
<operation name="webSumarFolio">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webSumarFolioRequest" message="tns:webSumarFolio"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webSumarFolioResponse" message="tns:webSumarFolioResponse"/>
</operation>
<operation name="webEncontrarFolioEspecifico">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEncontrarFolioEspecificoRequest" message="tns:webEncontrarFolioEspecifico"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEncontrarFolioEspecificoResponse" message="tns:webEncontrarFolioEspecificoResponse"/>
</operation>
<operation name="webBuscarDetalleVentaPorFolio">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webBuscarDetalleVentaPorFolioRequest" message="tns:webBuscarDetalleVentaPorFolio"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webBuscarDetalleVentaPorFolioResponse" message="tns:webBuscarDetalleVentaPorFolioResponse"/>
</operation>
<operation name="webEncontrarFolio">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEncontrarFolioRequest" message="tns:webEncontrarFolio"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEncontrarFolioResponse" message="tns:webEncontrarFolioResponse"/>
</operation>
<operation name="webConfigurarConexion">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webConfigurarConexionRequest" message="tns:webConfigurarConexion"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webConfigurarConexionResponse" message="tns:webConfigurarConexionResponse"/>
</operation>
<operation name="webActualizarDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webActualizarDetalleVentaRequest" message="tns:webActualizarDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webActualizarDetalleVentaResponse" message="tns:webActualizarDetalleVentaResponse"/>
</operation>
<operation name="webInsertarDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webInsertarDetalleVentaRequest" message="tns:webInsertarDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webInsertarDetalleVentaResponse" message="tns:webInsertarDetalleVentaResponse"/>
</operation>
<operation name="webEliminarDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEliminarDetalleVentaRequest" message="tns:webEliminarDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webEliminarDetalleVentaResponse" message="tns:webEliminarDetalleVentaResponse"/>
</operation>
<operation name="webConsultaDetalleVenta">
<input wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webConsultaDetalleVentaRequest" message="tns:webConsultaDetalleVenta"/>
<output wsam:Action="http://CapaServicio/WebServiceDetalleVenta/webConsultaDetalleVentaResponse" message="tns:webConsultaDetalleVentaResponse"/>
</operation>
</portType>
<binding name="WebServiceDetalleVentaPortBinding" type="tns:WebServiceDetalleVenta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="webBuscarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webExisteDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webSumarFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webEncontrarFolioEspecifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webBuscarDetalleVentaPorFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webEncontrarFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConfigurarConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webActualizarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webInsertarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webEliminarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConsultaDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceDetalleVenta">
<port name="WebServiceDetalleVentaPort" binding="tns:WebServiceDetalleVentaPortBinding">
<soap:address location="http://localhost:22396/CliffordServices/WebServiceDetalleVenta"/>
</port>
</service>
</definitions>