Clifford/src/META-INF/wsdl/localhost_22396/CliffordServices/WebServiceDetalleVenta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://CapaServicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CapaServicio/">

<xs:element name="webActualizarDetalleVenta" type="tns:webActualizarDetalleVenta"/>

<xs:element name="webActualizarDetalleVentaResponse" type="tns:webActualizarDetalleVentaResponse"/>

<xs:element name="webBuscarDetalleVenta" type="tns:webBuscarDetalleVenta"/>

<xs:element name="webBuscarDetalleVentaPorFolio" type="tns:webBuscarDetalleVentaPorFolio"/>

<xs:element name="webBuscarDetalleVentaPorFolioResponse" type="tns:webBuscarDetalleVentaPorFolioResponse"/>

<xs:element name="webBuscarDetalleVentaResponse" type="tns:webBuscarDetalleVentaResponse"/>

<xs:element name="webConfigurarConexion" type="tns:webConfigurarConexion"/>

<xs:element name="webConfigurarConexionResponse" type="tns:webConfigurarConexionResponse"/>

<xs:element name="webConsultaDetalleVenta" type="tns:webConsultaDetalleVenta"/>

<xs:element name="webConsultaDetalleVentaResponse" type="tns:webConsultaDetalleVentaResponse"/>

<xs:element name="webEliminarDetalleVenta" type="tns:webEliminarDetalleVenta"/>

<xs:element name="webEliminarDetalleVentaResponse" type="tns:webEliminarDetalleVentaResponse"/>

<xs:element name="webEncontrarFolio" type="tns:webEncontrarFolio"/>

<xs:element name="webEncontrarFolioEspecifico" type="tns:webEncontrarFolioEspecifico"/>

<xs:element name="webEncontrarFolioEspecificoResponse" type="tns:webEncontrarFolioEspecificoResponse"/>

<xs:element name="webEncontrarFolioResponse" type="tns:webEncontrarFolioResponse"/>

<xs:element name="webInsertarDetalleVenta" type="tns:webInsertarDetalleVenta"/>

<xs:element name="webInsertarDetalleVentaResponse" type="tns:webInsertarDetalleVentaResponse"/>

<xs:element name="webSumarFolio" type="tns:webSumarFolio"/>

<xs:element name="webSumarFolioResponse" type="tns:webSumarFolioResponse"/>

<xs:complexType name="webEncontrarFolio">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webEncontrarFolioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webConsultaDetalleVenta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webConsultaDetalleVentaResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleVenta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleVenta">
<xs:sequence>
<xs:element name="cantidad_producto" type="xs:int"/>
<xs:element name="folio_detalle_venta" type="xs:int"/>
<xs:element name="id_detalle_venta" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="nombre_producto" type="xs:string" minOccurs="0"/>
<xs:element name="precio_total" type="xs:int"/>
<xs:element name="precio_unitario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webActualizarDetalleVenta">
<xs:sequence>
<xs:element name="DetalleVenta" type="tns:detalleVenta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webActualizarDetalleVentaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webConfigurarConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webConfigurarConexionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webBuscarDetalleVentaPorFolio">
<xs:sequence>
<xs:element name="id_folio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webBuscarDetalleVentaPorFolioResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleVenta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webSumarFolio">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webSumarFolioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webEliminarDetalleVenta">
<xs:sequence>
<xs:element name="id_folio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webEliminarDetalleVentaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webInsertarDetalleVenta">
<xs:sequence>
<xs:element name="DetalleVenta" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webInsertarDetalleVentaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="webBuscarDetalleVenta">
<xs:sequence>
<xs:element name="id_detalle_venta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webBuscarDetalleVentaResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleVenta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webEncontrarFolioEspecifico">
<xs:sequence>
<xs:element name="id_detalle_venta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webEncontrarFolioEspecificoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>