Clifford/xml-resources/web-service-references/WebServiceProducto/wsdl/localhost_22396/CliffordServices/WebServiceProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CapaServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CapaServicio/" name="WebServiceProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://CapaServicio/" schemaLocation="http://localhost:22396/CliffordServices/WebServiceProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="webInsertarProducto">
<part name="parameters" element="tns:webInsertarProducto"/>
</message>
<message name="webInsertarProductoResponse">
<part name="parameters" element="tns:webInsertarProductoResponse"/>
</message>
<message name="webActualizarProducto">
<part name="parameters" element="tns:webActualizarProducto"/>
</message>
<message name="webActualizarProductoResponse">
<part name="parameters" element="tns:webActualizarProductoResponse"/>
</message>
<message name="webConsultarProducto">
<part name="parameters" element="tns:webConsultarProducto"/>
</message>
<message name="webConsultarProductoResponse">
<part name="parameters" element="tns:webConsultarProductoResponse"/>
</message>
<message name="webExisteProducto">
<part name="parameters" element="tns:webExisteProducto"/>
</message>
<message name="webExisteProductoResponse">
<part name="parameters" element="tns:webExisteProductoResponse"/>
</message>
<message name="webConfigurarConexion">
<part name="parameters" element="tns:webConfigurarConexion"/>
</message>
<message name="webConfigurarConexionResponse">
<part name="parameters" element="tns:webConfigurarConexionResponse"/>
</message>
<message name="webBuscarProducto">
<part name="parameters" element="tns:webBuscarProducto"/>
</message>
<message name="webBuscarProductoResponse">
<part name="parameters" element="tns:webBuscarProductoResponse"/>
</message>
<message name="webEliminarProducto">
<part name="parameters" element="tns:webEliminarProducto"/>
</message>
<message name="webEliminarProductoResponse">
<part name="parameters" element="tns:webEliminarProductoResponse"/>
</message>
<portType name="WebServiceProducto">
<operation name="webInsertarProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webInsertarProductoRequest" message="tns:webInsertarProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webInsertarProductoResponse" message="tns:webInsertarProductoResponse"/>
</operation>
<operation name="webActualizarProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webActualizarProductoRequest" message="tns:webActualizarProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webActualizarProductoResponse" message="tns:webActualizarProductoResponse"/>
</operation>
<operation name="webConsultarProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webConsultarProductoRequest" message="tns:webConsultarProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webConsultarProductoResponse" message="tns:webConsultarProductoResponse"/>
</operation>
<operation name="webExisteProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webExisteProductoRequest" message="tns:webExisteProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webExisteProductoResponse" message="tns:webExisteProductoResponse"/>
</operation>
<operation name="webConfigurarConexion">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webConfigurarConexionRequest" message="tns:webConfigurarConexion"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webConfigurarConexionResponse" message="tns:webConfigurarConexionResponse"/>
</operation>
<operation name="webBuscarProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webBuscarProductoRequest" message="tns:webBuscarProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webBuscarProductoResponse" message="tns:webBuscarProductoResponse"/>
</operation>
<operation name="webEliminarProducto">
<input wsam:Action="http://CapaServicio/WebServiceProducto/webEliminarProductoRequest" message="tns:webEliminarProducto"/>
<output wsam:Action="http://CapaServicio/WebServiceProducto/webEliminarProductoResponse" message="tns:webEliminarProductoResponse"/>
</operation>
</portType>
<binding name="WebServiceProductoPortBinding" type="tns:WebServiceProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="webInsertarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webActualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConsultarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webExisteProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webConfigurarConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webBuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="webEliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceProducto">
<port name="WebServiceProductoPort" binding="tns:WebServiceProductoPortBinding">
<soap:address location="http://localhost:22396/CliffordServices/WebServiceProducto"/>
</port>
</service>
</definitions>